body{
    font-family: 'Montserrat', sans-serif;
    resize: horizontal;
    overflow: auto;
    padding: 7% 10%;
}
.CompanyName{
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    position: relative;
    left: 45%;
    top: 10%;
    width: fit-content;
    padding: 0;
}
.LandingPage{
    height: 900px;
}
.text-center{
    position: relative;
    top: 20%;
}
h2{
    font-family: 'Sacramento', cursive;
    position: relative;
    left: 45%;
    font-size: 3rem;
    width: fit-content;
}
.btn{
    position: relative;
    left: 30%;
}
.card-title{
    position: relative;
    left: 30%;
}
.nav-item{
    padding-left: 100px;
}
.row{
    padding: 0 10%;
    justify-content: center;
}
.about{
    padding: 7% 10%;
}
@media (max-width : 844px){
    .CompanyName{
        left: 35%;
    }
}
    